./data/*
./cache/*
./idea/*
.idea/misc.xml
.idea/modules.xml
.idea/RoastChatBot.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/deployment.xml
.idea/remote-mappings.xml
